<div class="container">
    
  <h1 class="welcome_title"> ReadTrack </h1>  
  <br></br>
  <h4>Welcome to the #1 Book Tracking App for Parents & Children!</h4>  <br>    
  <img class="welcome_img" src="https://www.hersheylibrary.org/wp-content/uploads/2020/02/children_reading_2_clipart.jpg">
    <br></br>

      <p> <b>New Users</b> please <a href="/users/signup">Sign Up</a> to start using the app.</p>
      <p> <b>Returning User</b> please <a href="/users/login">Log In</a> to view your homepage.</p>

</div>

<style>

  .container {
    margin-top: 100px;
    margin-bottom: 100px;

  }
  .welcome_title {
    color: #0000FF ;
    border: 2px #0000FF;
    outline-style: inset;
    outline-color: #0000FF;
    outline-width: medium;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 50px;

  }

  .welcome_img {
    height: 65%;
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    text-align: center;
  }

  h4 {
    text-align: center;
  }

</style>
