<div>
    <div>
    <h2>ReadTrack</h2>

    <div>
      <h4>Welcome to the #1 Book Tracking App!</h4> 

      <p>If you're a new user, please <b><a href="/users/signup">Sign Up</a></b> to start using the app.</p>
      <p>If you're a returning user, please <b><a href="/users/login">Log In</a></b> to view your homepage.</p>

    </div>



  </div>
</div>
