<h1> Book List </h1> 

<form action='/books' method="POST">
Child Name: <input type=text name="child_name"> <br>
Child Age: <input type=number name="child_age"> <br>
Book Title: <input type=text name="book_title"> <br>
Authors Name: <input type=text name="authors_name"> <br>
Page Count: <input type=number name="page_count"> <br>
Reading Level: <input type=number name="reading_level"> <br>
<input type=submit>
<form> 