<h1> Book List </h1> 

<% if @errors %>
  <% @errors.each do |error| %>
    <p style="color: red;"><%= error %></p>
  <% end %>
<% end %>


<form action='/books' method="POST">
Child Name: <input type=text name="child_name"> 
<br></br>
Child Age: <input type=number name="child_age">
<br></br>
Book Title: <input type=text name="book_title"> 
<br></br>
Authors Name: <input type=text name="authors_name">
<br></br>
Page Count: <input type=number name="page_count"> 
<br></br>

Reading Level: <input type=number name="reading_level">
<br></br>
<input type=submit>
</form> 